/* selected tag{
    property: value;
} */

body{
    background-color: rgba(204, 226, 227, 0.1);
    /* background: url(https://png.pngtree.com/thumb_back/fh260/background/20190814/pngtree-abstract-background-image_298809.jpg); */
}

div{
    background-color: rgba(204, 226, 227, 1);
    border-color: rgba(136, 180, 181, 1);
    border-width: 3px;
    border-style: double;
}

h1{
    /* color: blue; */
    color: rgba(252, 19, 3, 0.65);
}